// Variables

// TODO: download fonts locally
// @import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
// @import url("https://fonts.googleapis.com/css?family=Montserrat:300");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:300i");


// @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:600&display=swap');

@font-face {
  font-family: "Montserrat Alternates";
  src: url("~@/assets/fonts/MontserratAlternates-SemiBold.ttf");
  // 
  // src: url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:600&display=swap');
  ;
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Light.ttf");
  font-weight: 300;

}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-LightItalic.ttf");
  ;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Bold.ttf");
  ;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-MediumItalic.ttf");
  ;
  font-style: italic;
  font-weight: 400;
}


$font-size: 28px;
$font-size-title: 24px;
$font-size-large: 32px;
$font-size-medium: 14px;
$font-size-small: 12px;
// $font-stack-base: "Montserrat" Arial, sans-serif;
// $font-family: light italic "Montserrat" Arial, sans-serif;

$font-family: Montserrat,
Arial,
sans-serif;

$color-light: #fbfbfb;
$color-light-muted: #e6e6ef;
$color-blue: #9454ff;
$color-dark: #181a20;
$color-orange: #ee6605;
$color-gold: #d48c0e;
$color-green: #54ff06;

// Import BootstrapVue
@import "~bootstrap/scss/bootstrap.scss";

// Bootstrap overrides

.dropdown-menu {
  background-color: $color-dark;
  z-index: 1050;
}

// Globals

a {
  text-decoration: none;
  color: $color-gold;
  color: $color-blue;
  transition: color .2s;

  &:hover {
    color: $color-light;
    text-decoration: none;
  }
}

.link {
  height: 44px;
  margin: 30px 0;

  a {
    position: relative;


    &:hover {
      color: $color-light;
      text-decoration: none;
    }


    &:before {
      content: '';
      position: absolute;
      transition: transform .5s ease;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $color-green;
      transform: scaleX(0);
    }

    &:hover:before {
      transform: scaleX(1);
    }

    &:before {
      content: '';
      position: absolute;
      transition: transform .5s ease;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $color-green;
      transform: scaleX(0);
    }

    &:hover:before {
      transform: scaleX(1);
    }
  }
}

.mail {
  height: 44px;
  margin: 30px 0;

  a {
    position: relative;


    &:hover {
      color: $color-light;
      text-decoration: none;
    }


    &:before {
      content: '';
      position: absolute;
      transition: transform .5s ease;
      right: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background: $color-green;
      transform: scaleX(0);
      transform-origin: top right;
    }

    &:hover:before {
      transform: scaleX(1);
    }

    &:after {
      content: '';
      position: absolute;
      transition: transform .5s ease;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $color-green;
      transform: scaleX(0);
      transform-origin: top left;
    }

    &:hover:after {
      transform: scaleX(1);
    }

  }
}



// html,
body {
  // font-family: $font-family;
  background-color: $color-dark;
  color: $color-light;

  font-size: $font-size;
  font-family: $font-family;
  overflow: visible; // overflow: hidden;
  overflow-x: hidden;
  // overflow-x: scroll;

  #app {
    // color: $color-light;

    // font-family: $font-stack-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }

  .project {
    // margin: 94px;
    padding: 94px;
  }

  p {
    // margin: 64px;
    text-align: left;
  }

  #tree-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    background: $color-dark;
  }

  .imageContainer {
    // width: 200px;
    // height: 200px;
    box-shadow: 0 0 16px 4px black;
    background-color: black;
    margin: 5% // overflow: hidden;

      // display: flex;
      img {
      max-width: 100%;
      align-self: center;
    }
  }

  .carousel {
    margin: 32px 0 32px;
  }

  // add a subtle dark box shadow that's always behind things
  .shade {
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      box-shadow: 0 0 16px 4px black;
      background: black;
      // box-shadow: 0 0 32px 32px green;
      // background: green;
      width: 100%;
      height: 100%;
      // bottom: 1px;
      // top: 0;
      right: 0;
      top: 0;
      // position: relative;
      position: absolute;
      z-index: -1;
      // text-shadow: 0 0 16px red, 0 0 32px red, 0 0 8px red;
    }
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
  }

  /* optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
}